<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center" >
      <%= link_to root_path, class: "navbar-brand" do %>
        <div class="d-flex justify-content-center">
          <div class="d-flex justify-content-center"><%= image_tag "CatBnB logo.svg" %></div>
          <div>
            <h2 class="mt-3" style="color: #D2656C;">CatBnB</h2>
          </div>
        </div>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">

        <%# Dashboard home button %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to cats_dashboard_path, class: "nav-link" do %>
            <i class="fa-solid fa-house fa-xl" style="color: #d2646c;"></i>
            <% end %>
          </li>

        <%# Displays username if logged in %>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Hi #{current_user.first_name}!", "#", class: "nav-link" %>
              <% end %>
            </li>

            <li class="nav-item dropdown">
            <%# user avatar %>
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.avatar.present? %>
                <%= cl_image_tag current_user.avatar.key, class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <i class="fa-sharp fa-regular fa-circle-user fa-2xl" style="color: #d2646c;"></i>
              <% end %>
            </a>

          <%# dropdown menu %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
