 <div class="main-container pt-0 mt-0 justify-content-around">
    <%# display all cats %>
    <div class="cards">
      <% @cats.each do |cat| %>
        <%# card %>
        <div class="cat-card p-0 my-0 bg-light rounded-4" onclick="location.href='<%= cat_path(cat) %>';" style="cursor:pointer;">

          <%# cat pic %>
          <div class="d-flex justify-content-center align-items-center my-1 border border-primary">
            <%= image_tag cat.photo_url, alt: "cat pic", height: "100vh", width: "auto" %>
          </div>

          <div class="d-flex flex-column align-items-center border border-primary">
            <%# cat name %>
            <h5><%= link_to cat.name, cat_path(cat), style: "text-decoration: none; color: black;" %></h5>
            <%# cat address %>
            <p><i class="fa-solid fa-house"></i> <%= cat.address %></p>
          </div>

        </div>
      <% end %>
    </div>

    <div class="card-category">
        <div data-controller="map"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-markers-value="<%= @markers.to_json %>"
          style="width: 100%; height: 100%;">
        </div>
    </div>
