<div class="p-4">

  <%# back to home page %>
  <div>
    <%= link_to cats_dashboard_path, class: "link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" do %>
      <i class="fa-solid fa-arrow-left"></i>  Back to see all CATs~
    <% end %>
  </div>

  <%# cat name %>
  <h1 class="text-center"> <%= @cat.name %></h1>

  <div class="d-flex justify-content-center">
    <%# cat pic %>
    <div class="d-flex cat-image" style="background-image: url(<%= asset_url(@cat.photo_url) %>); background-size: cover; background-position: center; height: 50%; width: 500px;" >
      <div class="d-flex flex-column justify-content-around p-3 rounded-4">
        <%# cat age box %>
        <div class="text-center rounded-4 p-1 m-2 text-white" style="background-color:#38652f;">
          <%= @cat.age %>
          <p>years old</p>
        </div>

        <%# cat gender box %>

        <div class="text-center rounded-4 p-1 m-2 text-white" style="background-color:#57964a;">
          <% if @cat.gender == "Female" %>
            <i class="fa-solid fa-venus"></i>
          <% else %>
            <i class="fa-solid fa-mars"></i>
          <% end %>
          <p><%= @cat.gender %></p>
        </div>

        <%# cat temperment box %>
        <div class="text-center rounded-4 p-1 m-2 text-white" style="background-color:#71c261;">
          <% if @cat.temperament == "sad" %>
            <i class="fa-solid fa-masks-theater"></i>
          <% else %>
            <i class="fa-solid fa-face-laugh-wink"></i>
          <% end %>
          <p><%= @cat.temperament %></p>
        </div>
      </div>

    </div>
  </div>

  <%# cat breed %>
  <h4 class="text-center">Breed: <%= @cat.breed %></h4>

  <%# cat description %>
  <h4 class="text-center"><%= @cat.description %></h4>

  <%# cat address %>
  <h4 class="text-center"><%= @cat.address %></h4>

  <br>
  <%# booking button %>
  <div class="d-grid">
    <% if policy(@cat).book? %>
      <%= link_to new_cat_booking_path(@cat), class: "btn btn-primary" do %>
        <i class="fa-solid fa-plus"></i> Book this cat
      <% end %>
    <% end %>
  </div>

  <br>

  <%# edit this cat %>
  <% if policy(@cat).edit? %>
    <%= link_to edit_cat_path(@cat), class: "btn btn-primary" do %>
      <i class="fas fa-edit"></i> Edit this cat
    <% end %>
  <% end %>

  <%# delete this cat %>
  <%= link_to cat_path(@cat),
          method: :delete,
          data: {turbo_confirm: "Are you sure?"},
          class: "btn btn-primary" do %>
      <i class="fas fa-trash"></i> Delete
    <% end %>

  <%# icons for cats like instagram, twitter, youtube, etc %>
  <%# <div>
    <a href="https://flexboxfroggy.com/">
    <i class="fa-brands fa-twitter"></i>
    </a>
  </div> %>
</div>

<%# upload image %>
<% @cat.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%# Display cat reviews %>
<div class="reviews-container py-3">
  <h2>Reviews</h2>
  <% if @cat.cat_reviews.any? %>
    <ul class="review-ul">
      <% @cat.cat_reviews.order(created_at: :desc).each do |cat_review| %>
        <li class="review-il">
          <%= image_tag('CatBnB logo.svg', alt: cat_review.user.first_name, style: "width: 2%;", class: "avatar-small") %>
          <span style="font-size: 1.2em; font-weight: bold;"><%= cat_review.user.username %></span> <br>
          <%= cat_review.content %> <br>
          <% (1..cat_review.rating).each do %>★<% end %><% (cat_review.rating+1..5).each do %>☆<% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No reviews yet. Be the first to add a review!</p>
  <% end %>
</div>
